.signIn-bar {
    display: flex;
    background-image: url(./banner-bg.svg);
    background-repeat: no-repeat;
    height: 70px;
    margin-left: 420px;
    cursor: pointer;
}

.signIn-bar .icon {
    margin-left: 50px;
    margin-top: 10px;
    margin-right: 20px;
}

.signIn-bar .content {
    color: #FFF;
    margin: 23px 80px 0px 20px;
}

.signIn-bar .style-span {
    background-color: #fdd100;
    text-decoration: none;
    padding: 7px 10px;
    border-radius: 5px;
    color: #FFF;
}

.signIn-bar .style-span:hover {
    background-color: #fcfcfc !important;
    color: #6e55b4 !important;
}